main {
  /* color: #222; */
  /* font-family: sans-serif; */
  /* line-height: 1.5; */
  /* margin: 1rem; */
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(270deg, var(--bs-primary), var(--bs-success), var(--bs-warning), var(--bs-secondary));
  background-size: 400% 400%;
  animation: gradientAnimation 3s ease infinite;

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
      background: linear-gradient(270deg, var(--bs-primary), var(--bs-success), var(--bs-warning), var(--bs-warning));
    }
    50% {
      background-position: 100% 50%;
      background: linear-gradient(270deg, var(--bs-secondary), var(--bs-warning), var(--bs-primary), var(--bs-light));
    }
    100% {
      background-position: 0% 50%;
      background: linear-gradient(270deg, var(--bs-warning), var(--bs-primary), var(--bs-light), var(--bs-secondary));
    }
  }
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 0rem;
  /* background-color: var(--bs-warning); */
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  /* background-color: var(--bs-primary); */
}

a {
  color: var(--bs-secondary);
  text-decoration: none;
}
.card {
  box-shadow: 0 8px 15px rgba(0,0,0,.85);
  background: radial-gradient(circle, var(--bs-light), var(--bs-secondary));
}
.midsection {
  box-shadow: 0 8px 15px rgba(0,0,0,.85);
  margin-top: 1em;
  /* background: radial-gradient(circle, var(--bs-light), var(--bs-secondary)); */
  background: linear-gradient(270deg, var(--bs-primary), var(--bs-success), var(--bs-warning), var(--bs-secondary));
  background-size: 400% 400%;
  animation: gradientAnimation 3s ease infinite;
}
.calltoaction {
  box-shadow: 0 8px 15px rgba(0,0,0,.85);
}
.lead {
  /* font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5; */
  text-shadow: 2px 2px 0 black;
}
.caption {
  text-shadow: 2px 2px 0 black;
}
.carousel {
  box-shadow: 0 8px 15px rgba(0,0,0,.85);
}
/* a:visited {
  color: var(--bs-secondary);
} */