
<span class="header-container w-100" style="position: fixed; top: 0; left: 0; z-index: 1000; background-color: rgba(0, 0, 0, 0.5);">
    <div class="text-warning">
        <div class="align-center" style="float: left; margin-left: 5em; margin-top: 0.25em; margin-right: 1em; vertical-align: middle;">
            <img src="/didu_real_estate_logo.svg" alt="Site Logo" style="height: 3em; filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(90deg) brightness(100%) contrast(100%);" class="filter" /> 
        </div>
        
        <!-- <h1 class="text-middle" style="display: inline; font-size: 3.2em;">{{ site.Title }}</h1> -->
        {{ partial "menu.html" . }}
    </div>
</span>
