<div class="container-fluid>">
    <span class="header-container w-100 row p-0 m-0" style="position: fixed; top: 0; left: 0; z-index: 1000; background-color: rgba(0, 0, 0, 0.5);">
        <div class="col-4 col-md-4 d-flex align-items-right ms-5 me-3 mt-1">
            <img src="/didu_real_estate_logo.svg" alt="Site Logo" class="img-fluid" style="height: 3em; filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(90deg) brightness(100%) contrast(100%);" />
        </div>
        <div class="col-4 col-md-4 ms-auto d-flex align-items-left justify-content-end">
            {{ partial "menu.html" . }}
        </div>
    </span>
</div>