<meta charset="utf-8">

<meta name="viewport" content="width=device-width">

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="description"
content="Website meta description for google search results go here" />
<meta name="dc.relation" content="{{ .Site.BaseURL }}" />
<meta name="theme-color" content="#1A94D2" />
<script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"siteId":4020940,"cookiePolicyId":39594884,"lang":"en","storage":{"useSiteId":true}};
    </script>
    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4020940.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

{{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}

{{ $style := resources.Get "sass/main.scss" | toCSS  $options | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<!-- 
    include a favicon for your site if you have it, else omit the line below 
    Location of favicon can be in mytheme/static/favicon.ico
-->
<!-- <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' /> -->
