$primary: #0FA3B1;
$secondary: #B4DEF4;
$success: #198754;
$info: #F7A072;
$warning: #F7C6A0;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "styles.scss";